<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
           
            <p> Terms and Conditions agreements (T&C) set out exactly what you'll offer your customers and what you expect from them in return.
                Put simply, Terms and Conditions make your website more professional.
                Before we look at drafting a Terms and Conditions Agreement, let's be clear on how one works. We'll also look at how to make your T&C legally enforceable.</p>
            <p>A Terms and Conditions agreement allows you to:</p>
            <p>Withdraw and cancel services </p>
            <p>Disable user accounts</p>
            <p>Manage customer expectations</p>
            <p>Set rules for user behavior</p>
            <p>The relevant date to include is the date that your Terms and Conditions Agreement came into effect.
               If you amend your Agreement, you should change the date to the most recent date. Or, you can keep the old date and explain that some changes came into effect on the new date.
               Here's an example from Hollister. If this is your first Terms and Conditions Agreement for your website, simply change "updated" to "effective from.</p>
            <p>If you collect personal data of any kind, you legally need to have and post a Privacy Policy. Since most companies capture at least some personal data, chances are this requirement applies to you.
               It's important that you link your Privacy Policy somewhere in the Terms and Conditions agreement. That way, you're incorporating the terms of your Privacy Policy into your larger Terms and Conditions agreement.
               So, if someone consents to your Terms and Conditions, this means they also consent to your Privacy Policy.</p>
               <h1 class="text-Black text-center"> Contact Us</h1>
               <p>Email address:devathilokesh2000@gmail.com></p>
               <p>online Chat Service</p>
               <p>Mobile Number:9014552366</p>
                
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
            </div>
        </div>
    </div>

</section>