<section class="mt-5">
    <div class=".container.mt-5.mb-5.p-5.bg-theme">
        <div class="p-5 mt-4 bg-secondary-theme">
            <h1 class="text-white text-center"> About Us</h1>
            <p> SPI, which stands for Smart Passive Income, has a sleek and professional about us page design. </p>

            <p>It starts off with a full-width header photo of the SPI team members along with a brief introduction about what they do and who they help. </p>
            <p> SPI, which stands for Smart Passive Income, has a sleek and professional about us page design. </p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4"> Back to Home </button>
            </div>
        </div>
    </div>

</section>