<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About Us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
           
            <p> SPI, which stands for Smart Passive Income, has a sleek and professional about us page design. The best About Us pages accomplish their goals through telling a story about a brand.
                Every story needs a protagonist, and so does every About Us page. In some cases, that might be you or your founding team. In others, you might treat your business as its own character with a distinct story.
                Either way, stories are all about representing change—starting in one place and ending up in another—which is something your About Us page should also do as visitors scroll through it.If transparency might strengthen your brand, your About Us page is a good opportunity to summarize your supply chain, how your business works, and relate that back to the mission that drives you.</p>
            <p>It starts off with a full-width header photo of the SPI team members along with a brief introduction about what they do and who they help.There are a variety of ways to integrate social proof into your About Us page, from embedding Instagram galleries of customer content to featuring the logos of publications that have covered you to highlighting a quote you lifted from a customer review. </p>
            <p> SPI, which stands for Smart Passive Income, has a sleek and professional about us page design.This is often accomplished with an illustration that presents your business model in an easy-to-digest manner, like this one used by Taaluma Totes that explains how they source materials for their products and how donations help support the country of origin.</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home </button>
            </div>
        </div>
    </div>

</section>